In [61]:
import pandas as pd

In [62]:
lst=[1,2,3,4,5,6]
print(lst)

[1, 2, 3, 4, 5, 6]

In [63]:
series=pd.Series(lst)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

In [64]:
empty=pd.Series([])
empty

Series([], dtype: object)

In [65]:
scalar_series=pd.Series(0.5,index=[1,2,3])
scalar_series

1    0.5
2    0.5
3    0.5
dtype: float64

In [66]:
dict_series=pd.Series({'p':1,'q':2,'r':3,'s':4})
dict_series

p    1
q    2
r    3
s    4
dtype: int64

In [67]:
dict_series[0:3]

p    1
q    2
r    3
dtype: int64

In [68]:
#Data Frame

In [69]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [70]:
df=pd.DataFrame(lst)
df

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [71]:
lst=([1,2,3,4,5,6],[11,12,13,14,15])
df=pd.DataFrame(lst)
df

    0   1   2   3   4    5
0   1   2   3   4   5  6.0
1  11  12  13  14  15  NaN

In [72]:
lst=([1,2,3,4,5,6],[11,12,13,14,15,16])
df=pd.DataFrame(lst)
df

    0   1   2   3   4   5
0   1   2   3   4   5   6
1  11  12  13  14  15  16

In [73]:
lst=[[1,2,3,4,5,6],[11,12,13,14,15]]
df=pd.DataFrame(lst)
df

    0   1   2   3   4    5
0   1   2   3   4   5  6.0
1  11  12  13  14  15  NaN

In [74]:
lst=([1,2,3,4,5],[11,12,13,14,15])
df=pd.DataFrame(lst)
df

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15

In [75]:
b={'Number':pd.Series([1,2,3,4,5]),
   'Maths':pd.Series([67,89,23,90,56]),
   'Physics':pd.Series([12,98,44,90,78])}
df=pd.DataFrame(b)
df

   Number  Maths  Physics
0       1     67       12
1       2     89       98
2       3     23       44
3       4     90       90
4       5     56       78

In [76]:
df=pd.read_csv(r'C:\code\c++\files\color_srgb.csv')
df

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2       NaN  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime      NaN      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080               NaN
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [77]:
df.columns

Index(['Name', 'HEX', 'RGB'], dtype='object')

In [78]:
df.shape

(16, 3)

In [79]:
df.size

48

In [80]:
df.head

<bound method NDFrame.head of        Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2       NaN  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime      NaN      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080               NaN
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)>

In [81]:
df.head(
)

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2     NaN  #808080     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)

In [82]:
df.describe()

         Name      HEX               RGB
count      15       15                15
unique     15       15                15
top     White  #FFFFFF  rgb(100,100,100)
freq        1        1                 1

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    15 non-null     object
 1   HEX     15 non-null     object
 2   RGB     15 non-null     object
dtypes: object(3)
memory usage: 516.0+ bytes

In [84]:
df.isnull()

     Name    HEX    RGB
0   False  False  False
1   False  False  False
2    True  False  False
3   False  False  False
4   False  False  False
5   False  False  False
6   False  False  False
7   False  False  False
8   False   True  False
9   False  False  False
10  False  False  False
11  False  False  False
12  False  False  False
13  False  False   True
14  False  False  False
15  False  False  False

In [85]:
df=pd.read_csv(r'C:\code\c++\files\color_srgb.csv')
df

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2       NaN  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime      NaN      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080               NaN
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [86]:
df.isnull()

     Name    HEX    RGB
0   False  False  False
1   False  False  False
2    True  False  False
3   False  False  False
4   False  False  False
5   False  False  False
6   False  False  False
7   False  False  False
8   False   True  False
9   False  False  False
10  False  False  False
11  False  False  False
12  False  False  False
13  False  False   True
14  False  False  False
15  False  False  False

In [87]:
df.isnull().sum()

Name    1
HEX     1
RGB     1
dtype: int64

In [88]:
df.shape

(16, 3)

In [89]:
df2=df.dropna()

In [90]:
df2.shape

(13, 3)

In [91]:
df3=df.dropna(axis=1)

In [92]:
df3.shape

(16, 0)

In [93]:
df.dropna(how='any')

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [94]:
df=dropna(inplace=True)

NameError: name 'dropna' is not defined

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.read()

AttributeError: 'DataFrame' object has no attribute 'read'

In [ ]:
df

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [ ]:
df

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2       NaN  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime      NaN      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080               NaN
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [ ]:
df.replace(to_replace='White', value='Sage')

       Name      HEX               RGB
0      Sage  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2       NaN  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime      NaN      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080               NaN
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [ ]:
df.replace('Lime','teal blue')

         Name      HEX               RGB
0       White  #FFFFFF  rgb(100,100,100)
1      Silver  #C0C0C0     rgb(75,75,75)
2         NaN  #808080     rgb(50,50,50)
3       Black  #000000        rgb(0,0,0)
4         Red  #FF0000      rgb(100,0,0)
5      Maroon  #800000       rgb(50,0,0)
6      Yellow  #FFFF00    rgb(100,100,0)
7       Olive  #808000      rgb(50,50,0)
8   teal blue      NaN      rgb(0,100,0)
9       Green  #008000       rgb(0,50,0)
10       Aqua  #00FFFF    rgb(0,100,100)
11       Teal  #008080      rgb(0,50,50)
12       Blue  #0000FF      rgb(0,0,100)
13       Navy  #000080               NaN
14    Fuchsia  #FF00FF    rgb(100,0,100)
15     Purple  #800080      rgb(50,0,50)

In [ ]:
df.replace('[A-Za-z]', 0, regex=True)

C:\Users\raksh\AppData\Local\Temp\ipykernel_18112\2542874296.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('[A-Za-z]', 0, regex=True)

    Name      HEX  RGB
0    0.0        0  0.0
1    0.0        0  0.0
2    NaN  #808080  0.0
3    0.0  #000000  0.0
4    0.0        0  0.0
5    0.0  #800000  0.0
6    0.0        0  0.0
7    0.0  #808000  0.0
8    0.0      NaN  0.0
9    0.0  #008000  0.0
10   0.0        0  0.0
11   0.0  #008080  0.0
12   0.0        0  0.0
13   0.0  #000080  NaN
14   0.0        0  0.0
15   0.0  #800080  0.0

In [ ]:
df.replace(to_replace='Silver',method='ffill')

C:\Users\raksh\AppData\Local\Temp\ipykernel_18112\437912078.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  df.replace(to_replace='Silver',method='ffill')

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1     White  #C0C0C0     rgb(75,75,75)
2       NaN  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime      NaN      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080               NaN
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [ ]:
df.loc[1]

Name           Silver
HEX           #C0C0C0
RGB     rgb(75,75,75)
Name: 1, dtype: object

In [ ]:
df

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2       NaN  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime      NaN      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080               NaN
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [ ]:
df.loc[3]

Name         Black
HEX        #000000
RGB     rgb(0,0,0)
Name: 3, dtype: object

In [ ]:
df.loc[5,"HEX"]

'#800000'

In [ ]:
df.iloc[0]

Name               White
HEX              #FFFFFF
RGB     rgb(100,100,100)
Name: 0, dtype: object

In [ ]:
df.iloc[[0]]

    Name      HEX               RGB
0  White  #FFFFFF  rgb(100,100,100)

In [ ]:
branch_group=df.groupby(by='HEX')
branch_group

In [ ]:
branch_group.groups

{'#000000': [3], '#000080': [13], '#0000FF': [12], '#008000': [9], '#008080': [11], '#00FFFF': [10], '#800000': [5], '#800080': [15], '#808000': [7], '#808080': [2], '#C0C0C0': [1], '#FF0000': [4], '#FF00FF': [14], '#FFFF00': [6], '#FFFFFF': [0]}

In [ ]:
for group, data_frame in branch_group:
    print(group)
    print(data_frame)

#000000
    Name      HEX         RGB
3  Black  #000000  rgb(0,0,0)
#000080
    Name      HEX  RGB
13  Navy  #000080  NaN
#0000FF
    Name      HEX           RGB
12  Blue  #0000FF  rgb(0,0,100)
#008000
    Name      HEX          RGB
9  Green  #008000  rgb(0,50,0)
#008080
    Name      HEX           RGB
11  Teal  #008080  rgb(0,50,50)
#00FFFF
    Name      HEX             RGB
10  Aqua  #00FFFF  rgb(0,100,100)
#800000
     Name      HEX          RGB
5  Maroon  #800000  rgb(50,0,0)
#800080
      Name      HEX           RGB
15  Purple  #800080  rgb(50,0,50)
#808000
    Name      HEX           RGB
7  Olive  #808000  rgb(50,50,0)
#808080
  Name      HEX            RGB
2  NaN  #808080  rgb(50,50,50)
#C0C0C0
     Name      HEX            RGB
1  Silver  #C0C0C0  rgb(75,75,75)
#FF0000
  Name      HEX           RGB
4  Red  #FF0000  rgb(100,0,0)
#FF00FF
       Name      HEX             RGB
14  Fuchsia  #FF00FF  rgb(100,0,100)
#FFFF00
     Name      HEX             RGB
6  Yellow  #FFFF00  rgb(100,100,0)
#FFFFFF
    Name      HEX               RGB
0  White  #FFFFFF  rgb(100,100,100)

In [ ]:
df

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2       NaN  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime      NaN      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080               NaN
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [ ]:
df1 = pd.DataFrame({'Roll No.':[1,2,3,4,5], 'Maths':[45,78,45,90,66], 'Physics':[33,67,12,90,44]})
df2 = pd.DataFrame({'Roll No.':[6,7,8,9,10], 'Maths':[78,73,45,90,69], 'Physics':[23,67,88,0,98]})
print(df1)
print(df2)

   Roll No.  Maths  Physics
0         1     45       33
1         2     78       67
2         3     45       12
3         4     90       90
4         5     66       44
   Roll No.  Maths  Physics
0         6     78       23
1         7     73       67
2         8     45       88
3         9     90        0
4        10     69       98