In [1]:
import pandas as pd

C:\Users\raksh\AppData\Local\Temp\ipykernel_19144\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
lst=[1,2,3,4,5,6]
print(lst)

[1, 2, 3, 4, 5, 6]

In [3]:
series=pd.Series(lst)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
empty=pd.Series([])
empty

Series([], dtype: object)

In [5]:
scalar_series=pd.Series(0.5,index=[1,2,3])
scalar_series

1    0.5
2    0.5
3    0.5
dtype: float64

In [6]:
dict_series=pd.Series({'p':1,'q':2,'r':3,'s':4})
dict_series

p    1
q    2
r    3
s    4
dtype: int64

In [7]:
dict_series[0:3]

p    1
q    2
r    3
dtype: int64

In [8]:
#Data Frame

In [9]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [10]:
df=pd.DataFrame(lst)
df

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [11]:
lst=([1,2,3,4,5,6],[11,12,13,14,15])
df=pd.DataFrame(lst)
df

    0   1   2   3   4    5
0   1   2   3   4   5  6.0
1  11  12  13  14  15  NaN

In [12]:
lst=([1,2,3,4,5,6],[11,12,13,14,15,16])
df=pd.DataFrame(lst)
df

    0   1   2   3   4   5
0   1   2   3   4   5   6
1  11  12  13  14  15  16

In [13]:
lst=[[1,2,3,4,5,6],[11,12,13,14,15]]
df=pd.DataFrame(lst)
df

    0   1   2   3   4    5
0   1   2   3   4   5  6.0
1  11  12  13  14  15  NaN

In [14]:
lst=([1,2,3,4,5],[11,12,13,14,15])
df=pd.DataFrame(lst)
df

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15

In [15]:
b={'Number':pd.Series([1,2,3,4,5]),
   'Maths':pd.Series([67,89,23,90,56]),
   'Physics':pd.Series([12,98,44,90,78])}
df=pd.DataFrame(b)
df

   Number  Maths  Physics
0       1     67       12
1       2     89       98
2       3     23       44
3       4     90       90
4       5     56       78

In [2]:
df=pd.read_csv(r'C:\code\c++\files\color_srgb.csv')
df

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [3]:
df.columns

Index(['Name', 'HEX', 'RGB'], dtype='object')

In [4]:
df.shape

(16, 3)

In [5]:
df.size

48

In [6]:
df.head

<bound method NDFrame.head of        Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)>

In [7]:
df.head(
)

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray  #808080     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)

In [8]:
df.describe()

         Name      HEX               RGB
count      16       16                16
unique     16       16                16
top     White  #FFFFFF  rgb(100,100,100)
freq        1        1                 1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    16 non-null     object
 1   HEX     16 non-null     object
 2   RGB     16 non-null     object
dtypes: object(3)
memory usage: 516.0+ bytes

In [10]:
df.isnull()

     Name    HEX    RGB
0   False  False  False
1   False  False  False
2   False  False  False
3   False  False  False
4   False  False  False
5   False  False  False
6   False  False  False
7   False  False  False
8   False  False  False
9   False  False  False
10  False  False  False
11  False  False  False
12  False  False  False
13  False  False  False
14  False  False  False
15  False  False  False

In [11]:
df=pd.read_csv(r'C:\code\c++\files\color_srgb.csv')
df

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2       NaN  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime      NaN      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080               NaN
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [12]:
df.isnull()

     Name    HEX    RGB
0   False  False  False
1   False  False  False
2    True  False  False
3   False  False  False
4   False  False  False
5   False  False  False
6   False  False  False
7   False  False  False
8   False   True  False
9   False  False  False
10  False  False  False
11  False  False  False
12  False  False  False
13  False  False   True
14  False  False  False
15  False  False  False

In [13]:
df.isnull().sum()

Name    1
HEX     1
RGB     1
dtype: int64

In [14]:
df.shape

(16, 3)

In [19]:
df2=df.dropna()

In [16]:
df2.shape

(13, 3)

In [18]:
df3=df.dropna(axis=1)

In [20]:
df3.shape

(16, 0)

In [21]:
df.dropna(how='any')

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [22]:
df=dropna(inplace=True)

NameError: name 'dropna' is not defined

In [23]:
df.dropna(inplace=True)

In [24]:
df.read()

AttributeError: 'DataFrame' object has no attribute 'read'

In [25]:
df

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)